{% extends "base.html" %}

{% block content %}

    <h1>Our pizzas! Tasty and delicious</h1>
    <ul>
        {% for i in pizzas %}
            <li>{{ i.name }}
                <div>
                <mark>Ingredients</mark>
                </div>
                <ul>
                    {% for j in i.toppings.all %}
                        <li>{{ j.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <h1>Order your pizza now</h1>
    <form action="" method="post" class="form">
        {% csrf_token %}
    
        {{ modelform.as_p }}
        <input type="submit" class="order" value="place order">
    </form>
    <button class="more">add more pizza </button>
{% endblock %}
<script>
    //let pizza = document.querySelector('#id_pizza_order')
    //let order = document.querySelector('.order')
    //let more = document.querySelector('.more')
    //let form = document.querySelector('.form')
//
    //more.addEventListener('click', (e) => {
    //    e.preventDefault()
    //    p = document.createElement('p')
    //    l = document.createElement('label')
    //    l.setAttribute('for', 'id_pizza_order')
    //    l.textContent = 'Pizza order:'
    //    cloned = pizza.cloneNode(true)
    //    p.append(l)
    //    p.append(cloned)
    //    form.insertBefore(p, order)
    //})

</script>